<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Assets/Css/Style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="icon" href="../static/Assets/Img/Logo.png">
    <title>Auto Mendonça</title>
</head>

<body>

    <header>
        <div class="div-logo" id="inicio">
            <Img src="../static/Assets/Img/Logo.png" class="Logo" />
        </div>

        <Img src="../static/Assets/Img/Header.png" class="Cabecalho" />

        <div class="navegacao">
            <nav class="listen">
                <ul>
                    <p><a href="#servico" class="a-cabecalho">NOSSOS SERVIÇOS</a></p>
                    <p><a href="#sobre" class="a-cabecalho">SOBRE NÓS</a></p>
                    <p><a href="#dicas" class="a-cabecalho">DICAS</a></p>
                    <p><a href="#cadastro" class="a-cabecalho">CADASTRO</a></p>
                    <p><a href="#depoimentos" class="a-cabecalho">DEPOIMENTOS</a></p>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="div-banner ">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">    <img class="img-banner" src="../static/Assets/Img/Banner1.png"></div>
            <div class="swiper-slide">    <img class="img-banner" src="../static/Assets/Img/Banner2.png"></div>
            <div class="swiper-slide">    <img class="img-banner" src="../static/Assets/Img/Banner3.png"></div>
            <div class="swiper-slide">    <img class="img-banner" src="../static/Assets/Img/Banner4.png"></div> <!-- Imagem 4 -->
        </div>
    </div>

    <!-- Indicadores -->
    <div class="div-indicador">
        <span class="indicador" data-slide="0"></span>
      <span class="indicador" data-slide="1"></span>
      <span class="indicador" data-slide="2"></span>
      <span class="indicador" data-slide="3"></span>
    </div>
</div>

        </div>
    </section>

    <section>
        <div>
            <div class="div-marcas">
                <h4 class="texto-marcas">Atuamos com nacional e importados</h4>
            </div>

            <div class="div-marcas">
                <h2 class="titulo-marcas">Somos referência em manutenção e assistência em diversas marcas!</h2>
            </div>
        </div>

        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="../static/Assets/Img/AlfaRomeo.png" class="img-slider" alt="AlfaRomeo" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Fiat.png" class="img-slider" alt="Fiat" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Audi.png" class="img-audi" alt="Audi" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Bmw.png" class="img-slider" alt="BMW" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/LandRover.png" class="img-landRover" alt="LandRover" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Chevrolet.png" class="img-chevrolet" alt="Chevrolet" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Honda.png" class="img-slider2" alt="Honda" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Lexus.png" class="img-chevrolet" alt="Lexus" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Mini.png" class="img-mini" alt="Mini" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Ford.png" class="img-chevrolet" alt="Ford" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Hyundai.png" class="img-slider2" alt="Hyundai" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Porsche.png" class="img-slider" alt="Porsche" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Volkswagen.png" class="img-slider" alt="Volkswagen" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Mercedes.png" class="img-slider" alt="Mercedes" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Volvo.png" class="img-slider" alt="Volvo" />
                </div>
                <div class="slide">
                    <img src="../static/Assets/Img/Toyota.png" class="img-slider2" alt="Toyota" />
                </div>
            </div>
        </div>
    </section>

    <section id="servico">
        <div class="div-servico">

            <div class="textos-servico">
                <h2 class="nome-oficina">Auto Mendonça</h2>

                <h3 class="titulo-servico">Todas as soluções em apenas um lugar!</h3>

                <p class="texto-servico">
                    <span class="negrito">Mais que uma oficina mecânica,</span> nós somos uma <span
                        class="negrito">solução
                        completa</span> multimarcas de alto nível, com tecnologia e mão de obra especializada,
                    peças originais e de marcas renomadas,<span class="negrito"> serviços com segurança e garantia que
                        seu veículo precisa.</span>
                </p>
            </div>

            <div class="servico">
                <img src="../static/Assets/Img/Freios.png" class="img-servico" data-hover="RedFreios.png">
                <img src="../static/Assets/Img/Eletrica.png" class="img-servico" data-hover="RedEletrica.png">
                <img src="../static/Assets/Img/Motor.png" class="img-servico" data-hover="RedMotor.png">
                <img src="../static/Assets/Img/Manutencao.png" class="img-servico" data-hover="RedManutencao.png">
            </div>

            <div class="servico">
                <img src="../static/Assets/Img/Inspecao.png" class="img-servico" data-hover="RedInspecao.png">
                <img src="../static/Assets/Img/Iluminacao.png" class="img-servico" data-hover="RedIluminacao.png">
                <img src="../static/Assets/Img/Ar.png" class="img-servico" data-hover="RedAr.png">
                <img src="../static/Assets/Img/Pneus.png" class="img-servico" data-hover="RedPneus.png">
            </div>

            <div class="div-contador">
                <div class="div-anos">
                    <div class="contador" id="contadorDois">+0</div>
                    <h2 class="anos">Anos no mercado</h2>
                </div>

                <div class="div-clientes">
                    <div class="contador" id="contador">+0</div>
                    <h2 class="clientes">Clientes atendidos</h2>
                </div>
            </div>

        </div>
    </section>

    <section id="sobre">
        <div>
            <h2 class="titulo-sobre">Quem Somos?</h2>

            <div class="div-sobre">
                <div>
                    <p class="texto-sobre">
                        Desde 1994, a Auto Mendonça busca atender o público de Penápolis e região com um novo
                        conceito de prestação de serviços automotivos, com qualidade e tecnologia, além de
                        atendimento diferenciado e personalizado aos clientes. Em local privilegiado, em frente
                        ao Parque Ecológico, próximo ao centro e pontos comerciais, a empresa conta com fácil
                        acesso e estacionamento, para facilitar ainda mais o atendimento aos clientes.
                    </p>

                    <p class="texto-sobre">
                        Nossa missão é atender todas as possíveis demandas do seu veículo com alta qualidade.
                        Na Auto Mendonça , você encontra todos os serviços para que seu carro e sempre com
                        segurança, conforto e beleza
                    </p>
                </div>

                <div class="div-select">
                    <ul class="tabs" role="tablist">
                        <li>
                            <input type="radio" name="tabs" id="tab1" checked />
                            <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0"> <i
                                    class="fas fa-flag" style="margin-right: 8px;"></i> NOSSA MISSÃO</label>
                            <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description"
                                aria-hidden="false">
                                <p>Prestar serviços de forma diferenciada, sempre em busca da excelência, com foco no
                                    atendimento ao cliente, proporcionando conforto, segurança e confiança, e com
                                    qualidade e
                                    garantia asseguradas, utilizando sempre os melhores produtos e as melhores
                                    tecnologias
                                    disponíveis no mercado.</p>
                            </div>
                        </li>

                        <li>
                            <input type="radio" name="tabs" id="tab2" />
                            <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0"> <i
                                    class="fas fa-shield-alt" style="margin-right: 8px;"></i> NOSSOS VALORES</label>
                            <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification"
                                aria-hidden="true">

                                <ul class="valores">
                                    <li>Inovação</li>
                                    <li>Melhoria contínua</li>
                                    <li>Organização</li>
                                    <li>Qualidade e excelência</li>
                                    <li>Respeito aos parceiros</li>
                                    <li>Valorização do cliente</li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="container">
                <div class="timeline">
                    <div class="event">
                        <span class="anoTimeline">1994</span>
                        <p>Fundação da Auto Mendonça - Início das operações.</p>
                    </div>
                    <div class="event">
                        <span class="anoTimeline">2000</span>
                        <p>Expansão para novos mercados.</p>
                    </div>
                    <div class="event">
                        <span class="anoTimeline">2005</span>
                        <p>Introdução de novos serviços especializados.</p>
                    </div>
                    <div class="event">
                        <span class="anoTimeline">2010</span>
                        <p>Investimento em tecnologias avançadas para veículos.</p>
                    </div>
                    <div class="event">
                        <span class="anoTimeline">2015</span>
                        <p>Abertura de novos centros de atendimento.</p>
                    </div>
                    <div class="event">
                        <span class="anoTimeline">2020</span>
                        <p>Adaptação às novas necessidades do mercado (veículos elétricos e híbridos).</p>
                    </div>
                    <div class="event">
                        <span class="anoTimeline">2024</span>
                        <p>Consolidação como líder de mercado.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="dicas">
        <div class="div-dicas">
            <h2 class="titulo-dicas">Dicas para um melhor cuidado com seu carro</h2>

            <div class="dicas">
                <img class="img-dicas" src="../static/Assets/Img/Dica1.png">
                <img class="img-dicas" src="../static/Assets/Img/Dica2.png">
                <img class="img-dicas" src="../static/Assets/Img/Dica3.png">
            </div>


            <div class="textos-dicas">
                <h2 class="titulo-dicas2">Deixe o Trabalho Pesado com a Gente!</h2>

                <p class="texto-dicas">
                    Manter o carro em dia é um investimento em segurança e tranquilidade.
                    Agende uma visita em nosso escritório e conte com profissionais que entendem do
                    assunto. Estamos prontos para cuidar do seu carro como se fosse nosso!
                </p>
            </div>
        </div>
    </section>

    <section>
        <h2 class="titulo-cadastro">Agende sua revisão!</h2>

        <main class="formulario" id="cadastro">
            <form action="/criar" method="post">
                <div class="div=cadastro">
                    <input type="text" placeholder="Nome" id="nome" name="nome" required minlength="3" required
                        maxlength="20">
                </div>

                <div>
                    <input type="email" placeholder="E-mail" id="email" name="email" required minlength="5" required
                        maxlength="30">
                </div>

                <div>
                    <input type="tel" placeholder="Telefone" id="telefone" name="telefone" required minlength="15"
                        required maxlength="15">
                </div>

                <div>
                    <input type="datetime-local" placeholder="Data e hora" id="data" name="data" required minlength="15"
                        required maxlength="15">
                </div>

                <div>
                    <textarea type="text" placeholder="Assunto" id="assunto" name="assunto" required minlength="5"
                        required maxlength="20"></textarea>
                </div>

                <div class="espacamento">
                    <button type="submit" class="btn-cadastro">Enviar</button>
                </div>
            </form>

            <img class="img-cadastro" src="../static/Assets/Img/Carro.png">
        </main>
    </section>

    <section class="dividir">
          <h2 class="texto-dividir">Seu próximo destino começa aqui. Confie no melhor para seguir em frente.</h2>
    </section>

    <section id="depoimentos">
         <h2 class="depoimentos">Depoimentos</h2>

     <div class="pergunta">

            <h3 class="pensando">O que nossos clientes estão comentando no google?</h3>
     </div>

    <div class="div-avaliacao">
                     <h2 class="Exelente">Excelente</h2>
           <div class="stars2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                        </div>

                   <h2 class="result">Com base em <span class="negrito">409 avaliações</span></h2>

        <img class="googlename" src="../static/Assets/Img/GoogleLogo.png">

    </div>

           <div class="slider2">
        <button class="prev-btn">&lt;</button>
        <div class="slider-container2">
            <div class="slider-track2">
                <div class="card">
                    <div class="box">

                        <div class="aaa">
                            <div class="image">
                                <img src="../static/Assets/Img/profile-1.jpeg" alt="">
                            </div>
                            <div class="name">Alex Smith</div>

                            <div class="aa">
                                <img class="a" src="../static/Assets/Img/google.png" alt="">
                            </div>
                        </div>

                        <div class="job">23/11/2024</div>

                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                        </div>

                        <p class="texto-avaliaçao">
                            Excelente atendimento e rapidez nos serviços. Consertaram meu carro
                            com precisão e eficiência. Profissionais profissionais, sempre prontos para
                            ajudar. Recomendo com confiança!
                        </p>
                        <div class="content">
                            <div class="info">


                            </div>

                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="box">

                        <div class="aaa">
                            <div class="image">
                                <img src="../static/Assets/Img/profile-2.jpeg" alt="">
                            </div>
                            <div class="name">Steven Chris</div>

                            <div class="aa">
                                <img class="a" src="../static/Assets/Img/google.png" alt="">
                            </div>
                        </div>

                        <div class="job">15/11/2024</div>

                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <p class="texto-avaliaçao">
                           A oficina oferece um serviço impecável e rápido. Meu carro foi atendido com
                            atenção e os problemas foram solucionados sem complicação. Preços justos, sem
                            dúvida volto!
                        </p>
                        <div class="content">
                            <div class="info">


                            </div>

                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="box">

                        <div class="aaa">
                            <div class="image">
                                <img src="../static/Assets/Img/profile-3.jpeg" alt="">
                            </div>
                            <div class="name">Kristina Bellis</div>

                            <div class="aa">
                                <img class="a" src="../static/Assets/Img/google.png" alt="">
                            </div>
                        </div>

                        <div class="job">23/10/2024</div>

                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <p class="texto-avaliaçao">
                            Fui muito bem atendido, com serviço de qualidade e agilidade. O atendimento foi
                            profissional e o meu veículo foi reparado rapidamente. Super satisfeito com o
                            resultado final!
                        </p>
                        <div class="content">
                            <div class="info">


                            </div>

                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="box">

                        <div class="aaa">
                            <div class="image">
                                <img src="../static/Assets/Img/profile-4.jpg" alt="">
                            </div>
                            <div class="name">Jamal Willians</div>

                            <div class="aa">
                                <img class="a" src="../static/Assets/Img/google.png" alt="">
                            </div>
                        </div>

                        <div class="job">07/10/2024</div>

                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                        </div>

                        <p class="texto-avaliaçao">
                            A oficina tem uma equipe muito capacitada e confiável. O atendimento foi excelente,
                            o conserto ficou perfeito e o preço justo. Recomendo para todos que buscam qualidade!
                        </p>
                        <div class="content">
                            <div class="info">


                            </div>

                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="box">

                        <div class="aaa">
                            <div class="image">
                                <img src="../static/Assets/Img/profile-5.jpg" alt="">
                            </div>
                            <div class="name">Barnaber Cawthon</div>

                            <div class="aa">
                                <img class="a" src="../static/Assets/Img/google.png" alt="">
                            </div>
                        </div>

                        <div class="job">02/10/2024</div>

                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                        </div>

                        <p class="texto-avaliaçao">
                            Fiquei muito satisfeito com o serviço da oficina. Os profissionais foram
                            simpáticos e rápidos no diagnóstico. Resolveram meu problema com eficiência,
                            e o preço foi justo!
                        </p>
                        <div class="content">
                            <div class="info">


                            </div>

                        </div>
                    </div>
                </div>

                 <div class="card">
                    <div class="box">

                        <div class="aaa">
                            <div class="image">
                                <img src="../static/Assets/Img/profile-1.jpeg" alt="">
                            </div>
                            <div class="name">Alex Smith</div>

                            <div class="aa">
                                <img class="a" src="../static/Assets/Img/google.png" alt="">
                            </div>
                        </div>

                        <div class="job">Designer | Developer</div>

                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <p class="texto-avaliaçao"></p>
                        <div class="content">
                            <div class="info">


                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <button class="next-btn">&gt;</button>
    </div>
    </section>



    <footer>
        <div>
            <div class="div-logoRodape">
                <img class="logo-rodape" src="../static/Assets/Img/Logo.png">
            </div>

            <img class="rodape" src="../static/Assets/Img/Rodape.png">

            <div class="div-linha">
                <img class="linha" src="../static/Assets/Img/Linha.png">
            </div>

            <div class="midias">
                <a href="https://twitter.com" target="_blank" class="a-rodape">
                    <img class="img-midias" src="../static/Assets/Img/Twitter.png" alt="Twitter">
                </a>
                <a href="https://facebook.com" target="_blank" class="a-rodape">
                    <img class="img-midias" src="../static/Assets/Img/Facabook.png" alt="Facebook">
                </a>
                <a href="https://instagram.com" target="_blank" class="a-rodape">
                    <img class="img-midias" src="../static/Assets/Img/Instagram.png" alt="Instagram">
                </a>
                <a href="https://wa.me" target="_blank" class="a-rodape">
                    <img class="img-midias" src="../static/Assets/Img/Whats.png" alt="WhatsApp">
                </a>
            </div>

        </div>
    </footer>

    <script src="../static/Assets/Js/Index.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


</body>

</html>