@import url("https://fonts.googleapis.com/css?family=Lato");

* {
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

html {
    scroll-behavior: smooth;
}

.Cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.Logo {
    position: absolute;
    margin-top: 120px;
    width: 200px;
    z-index: 3;
}


.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.navegacao nav a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.navegacao nav ul {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    font-weight: 500;
}

.a-cabecalho {
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    ;
    padding-left: 2px;
    letter-spacing: 4px;
    font-size: 18px;
    bottom: 0;
    text-transform: uppercase;
    margin-right: -25px;
    position: relative;
}

.a-cabecalho::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.a-cabecalho:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.a-cabecalho:hover {
    transform: scale(1.1);
}

.div-banner {
    padding-top: 120px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.img-banner {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.div-indicador {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1;
}

.indicador {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicador:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.active {
    background-color: #ffffff;
}

.servico {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
}

.div-servico {
    background-color: #333;
    padding-top: 50px;
}

.img-servico {
    width: 220px;
    transition: transform 0.5s ease;
}

.img-servico:hover {
    transform: scale(1.1);
}

.titulo-servico {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 50px;
}

.contador {
    display: inline-block;
    align-items: center;
    color: #FF0000;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 120px;
    text-align: center;
    justify-content: center;
}

.div-contador {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 200px;
    color: #FF0000;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 100px;
}

.anos {
    margin-left: 25px;
}

.clientes {
    margin-right: -40px;
}

.texto-servico {
    align-items: center;
    color: white;
    font-family: "Poppins", Sans-serif;
    width: 1200px;
    font-size: 25px;
    margin-bottom: 70px;
}

.textos-servico {
    padding-left: 110px;
}


.nome-oficina {
    color: #FF0000;
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;

}

.negrito {
    font-weight: bold;
}


.titulo-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 80px;
}

.texto-sobre {
    width: 700px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: -20px;
}


.div-sobre {
    display: flex;
    gap: 150px;
    padding-bottom: 50px;
}

.div-dicas {
    background-color: #333;
    padding-bottom: 70px;
}

.img-dicas {
    width: 270px;
}

#sobre {
    color: white;
    background-image: url("../Img/aaa.png");
    background-size: cover;
    /* Faz com que a imagem cubra toda a div */
    background-position: center;
    /* Centraliza a imagem na div */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    height: 100%;
    /* Garante que a div ocupe toda a altura do seu contêiner pai */
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.img-dicas:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
}

.dicas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.titulo-dicas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    margin-bottom: 70px;
    font-weight: 700;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 80px;
    padding-top: 80px;
    gap: 300px;
}

.formulario form input {
    display: block;
    width: 400px!important;
    height: 50px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    color: white;
    outline: none;
    box-shadow: 0px 8px 8px -5px #00000033;
    background-color: #333;
}

.formulario form textarea {
    display: block;
    color: white;
    width: 400px !important;
    height: 150px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    outline: none;
    box-shadow: 0px 8px 8px -5px #00000033;
    background-color: #333;
    resize: none;
}

.formulario form button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 420px !important;
    height: 50px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    outline: none;
    box-shadow: 0px 8px 8px -5px #00000033;
    background-color: #FF0000;
    color: white;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.div-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cadastro {
    margin-top: -20px;
    width: 400px;
}

.btn-cadastro:active {
    top: 2px;
}

.btn-cadastro:hover {
    background: #ae0202;
}

.titulo-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
}


.div-logoRodape,
.div-linha {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-rodape,
.linha {
    position: absolute;
    z-index: 1;
}

.logo-rodape {
    padding-top: 160px;
}

.linha {
    margin-top: 330px;
}

.midias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 200px;
    z-index: 1;
}

.rodape {
    position: absolute;
    width: 100%;
}

.img-midias {
    width: 60px;
}

.img-midias:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
}

.a-rodape {
    z-index: 1;
}


/* Configurações para o contêiner do slider */
/* Estilo para o contêiner do slider */
.slider {
    background: white;
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1200px; /* Ajuste de largura para tela cheia ou personalizado */
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Estilo para a pista de slides */
.slide-track {
    display: flex;
    width: calc(250px * 17); /* Ajuste a largura para o número total de slides e clones */
    animation: scroll 40s linear infinite; /* A animação agora é infinita e suave */
    gap: 100px; /* Ajuste conforme o espaçamento desejado entre os slides */
}

/* Animação de rolagem contínua */
@keyframes scroll {
    0% {
        transform: translateX(0); /* Começa na posição inicial */
    }
    100% {
        transform: translateX(-100%); /* Move até o final da pista de slides */
    }
}

/* Gradientes para transições suaves nas extremidades do slider */
.slider::before,
.slider::after {
    content: "";
    height: 250px;
    position: absolute;
    width: 200px;
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.img-slider {
    width: 100px;
}

.img-slider2 {
    width: 150px;
    height: 100px;
}

.img-mini {
    width: 250px;
    height: 100px;
}

.img-chevrolet {
    width: 200px;
    height: 100px;
}

.img-landRover {
    width: 180px;
    height: 100px;
}

.img-audi {
    width: 160px;
    height: 100px;
}

.div-marcas {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
}

.texto-marcas {
    padding-top: 50px;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 20px;
}

.titulo-marcas {
    width: 1000px;
    font-size: 50px;
}

.div-select {
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

h1 {
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px 0 100px 10px;
}

h1 span {
    font-size: 13px;
    display: block;
    padding-left: 4px;
}

.tabs {
    width: 550px;
    list-style: none;
    position: relative;
    text-align: left;
}

.tabs li {
    float: left;
}

input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
}

label {
    display: block;
    padding: 14px 21px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    text-transform: uppercase;
    background: #ae0202;
    cursor: pointer;
    position: relative;
    top: 4px;
    transition: all 0.2s ease-in-out;
}

label:hover {
    background: #df0808;
}

.tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 500px;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background: #FF0000;
}

[id^="tab"]:checked+label {
    top: 0;
    padding-top: 17px;
    background: #FF0000;
}

[id^="tab"]:checked~[id^="tab-content"] {
    display: block;
}

p.link {
    clear: both;
    margin: 380px 0 0 15px;
}

.container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.timeline {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 80%;
    border-top: 2px solid white;
}

.timeline .event {
    position: relative;
    text-align: center;
    width: 14%;
}

.event:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.event {
    will-change: transform;
    transition: transform 0.5s ease;
    outline: 2px solid transparent;
}

.timeline .event:before {
    content: '';
    position: absolute;
    top: -12px;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF0000;
    border: 3px solid #fff;
}

.timeline .event span {
    display: block;
    font-weight: bold;
}

.timeline .event p {
    margin-top: 10px;
    font-size: 14px;
    color: #8e8e8e;
}

.anoTimeline {
    padding-top: 20px;
}

p.link a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #FF0000;
    transition: all 0.2s ease-in;
}

p.link a:hover {
    background-color: #FF0000;
}

.valores {
    list-style-type: square;
    width: 200px;
    margin-left: 20px;
}

.depoimentos{
     color: #FF0000;
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 50px;
    text-align: center;
}

.pensando{
    width: 1200px;
}





.slider2 {
  position: relative;
  width: 750px;
  margin: auto;
  overflow: hidden;
    margin-bottom: 100px;
      margin-top: 100px;
    margin-left: 650px;
}

.slider-container2 {
  display: flex;
  overflow: hidden;


}

.slider-track2 {
  display: flex;
  transition: transform 0.4s ease-in-out;

}

.card {
  flex: 0 0 30%; /* Cada card ocupa 30% da largura */
  margin: 0 10px;
  background: #fff;
  width: 100px;
  padding: 25px;
         box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
     border-top: 1px solid #FF0000; /* Borda superior */
  border-bottom: 1px solid #FF0000; /* Borda inferior */


}

.prev-btn, .next-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FF0000;
  color: white;
  border: none;
  width: 20px;
  height: 40px;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.prev-btn:hover, .next-btn:hover {
  background-color: #ae0202;
}

.prev-btn {
  left: 2px;
}

.next-btn {
  right: 2px;
}







.name{
  margin-top: -20px;
    font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.job{
    font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FF0000;
  display: flex;
  justify-content: center;
  margin-top: -35px;
  margin-left: -45px;
    font-style: italic;
}
.stars{
  margin-top: 25px;
  margin-bottom: 20px;
  color: #FF0000;
}

.image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #FF0000;
  border-radius: 50%;
}

.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}


.aaa{
  display: flex;
  align-items: center;
  gap: 10px;
}

.a{
  width: 20px;
}

.aa{
  position: absolute;
  margin-top: -20px;
  margin-left: 300px;
}

.texto-avaliaçao{
     font-family: "Barlow", sans-serif;
}

.div-avaliacao{
 text-align: center;
     position: absolute;
    margin-top: -130px;
    margin-left: 120px;
}


.Exelente{
    font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.stars2{
    color: #fdfd17;
    font-size: 30px;
}

.result{
     font-size: 25px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    text-align: center;

}

.googlename{
       margin-top: 30px;
    width: 200px;
}


input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1) brightness(100%);
}


input::placeholder {
    color: white;
    opacity: 1;
}

textarea::placeholder {
    color: white;
    opacity: 1;
}


.texto-dicas {
    align-items: center;
    color: white;
    font-family: "Poppins", Sans-serif;
    width: 1000px;
    font-size: 25px;
}

.textos-dicas {
    padding-left: 110px;
}


.titulo-dicas2 {
    color: #ffffff;
    font-size: 30px;
    font-family: "Barlow", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 20px;

}

.dividir{
    background-image: url("../Img/fundo-land-rover.jpg");
        background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.texto-dividir {
    align-items: center;
    color: white;
    font-family: "Poppins", Sans-serif;
    width: 1000px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
        margin-top: 150px;
        margin-bottom: 150px;
}